# Logs
logs
*.log
pm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environments
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Compiled output
build/
dist/

# Local machine config
.idea/
.vscode/
*.iml

# misc
*.DS_Store
thumb.db
